body{
	font-family: 'Berkshire Swash', cursive;
}



.parallax-container {
  
}


/*Footer Adhesivo*/
body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

.img-footer{
	width: 100px; 
	height: 100px;
	transition: width 0.2s, height 0.2s;
}

.img-footer:hover{
	width: 150px;
	height: 100px;
	margin: 0px auto;
	font-size: 50px;
}
